*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
composer.lock

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/application/config.inc.php
node_modules/
vendor/
files/
