*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
composer.lock

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

/application/config.inc.php
/files/temp/*
/vendor/